target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project
*.log
logs/
plugins/LightLogin/
*.db
*.db-journal
*.db-wal
lightlogin.key
*.mmdb
.DS_Store
